ultralytics>=8.0.0

opencv-python>=4.8.0

numpy>=1.24.0

# to run my project anyone can just open their terminal in project directory and run this single command to install everything at once:
# pip install -r requirements.txt
